.selectMenu {
    background-color: white;
    margin-top: 0px;
    width: 70%;
    border-radius: 10px;
}

.mainBox span {
    font-family: serif;
    font-size: 15px;
    color: black;
    margin-left: 10px;
}